DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
GREEW_SECRET_KEY=troque-esta-chave-em-producao
GREEW_MASTER_USER=master@gmail.com
GREEW_MASTER_PASSWORD=@Master2026
GREEW_MASTER_NAME=Master
